<!-- TODO: better name would be DeleteSearchItem.html -->

<div class="umbracoDialog umb-dialog" ng-controller="AzureLogger.DeleteController">

    <p class="umb-abstract">
        Are you sure you want to delete <strong>'TODO: get name of search item'</strong> ?
    </p>

    <!-- TODO: extract out the repeated markup (also used in SearchFilters && Create) -->
    <div class="umb-pane btn-toolbar umb-btn-toolbar">
        <div class="control-group umb-control-group">

            <a class="btn btn-link" ng-click="nav.hideDialog()">
                <localize key="general_cancel">Cancel</localize>
            </a>

            <input type="submit" name="" value="OK" class="btn btn-primary" ng-click="delete(nav)">
        </div>
    </div>

</div>