.azure-logger:after{
    content: '\2022';
    font-size: larger;
    margin-right: -9px;

    color:green;
}

.appender-read-only:after {
    color:black;
}

.appender-not-connected:after {
    color:red;
}
