<div class="umbracoDialog umb-dialog" ng-controller="AzureLogger.SearchFiltersController" ng-init="init(currentNode)">

    <div ng-show="searchItem"> <!-- safety check: ensure search item received before rendering ui -->
        <div class="filters">

            <fieldset>
                Min Level:
                <label><input type="radio" ng-model="minLevel" value="DEBUG" />Debug - show all levels</label>
                <label><input type="radio" ng-model="minLevel" value="INFO" />Info - show all except debug</label>
                <label><input type="radio" ng-model="minLevel" value="WARN" />Warn - show warn, error and fatal</label>
                <label><input type="radio" ng-model="minLevel" value="ERROR" />Error - show error and fatal</label>
                <label><input type="radio" ng-model="minLevel" value="FATAL" />Fatal - show fatal only</label>
            </fieldset>
            <label>Host Name: <input type="text" ng-model="hostName" /></label>

            <fieldset>
                Include or Exclude Logger Names:
                <label><input type="radio" ng-model="loggerNamesInclude" ng-value="true" />Include</label>
                <label><input type="radio" ng-model="loggerNamesInclude" ng-value="false" />Exclude</label>
            </fieldset>

            <ul>
                <li ng-repeat="loggerName in loggerNames track by $index">
                    <input type="text" ng-model="loggerNames[$index]" />
                    <a href="" ng-click="loggerNames.splice($index, 1)">DELETE</a>
                </li>
            </ul>
            <a href="" ng-show="loggerNames[loggerNames.length - 1] != ''" ng-click="loggerNames.push('')">ADD</a>

        </div>

        <div class="umb-pane btn-toolbar umb-btn-toolbar">
            <div class="control-group umb-control-group">

                <a href="" class="btn btn-link" ng-click="cancel()"><localize key="general_cancel">Cancel</localize></a>
                <a href="" class="btn btn-primary" ng-click="save()"><localize key="general_ok">OK</localize></a>

            </div>
        </div>
    </div>

</div>

