<div ng-controller="AzureLogger.TrimLogController" ng-init="init(currentNode)">

    <umb-pane>
        <p>
            Warning: This will wipe all log events and any events destined for this table whilst it is being trimmed will not be captured.
            The log entries are removed by deleting the Azure table, and then recreating it (which can take up to a minute),
        </p>

        <a href="" class="btn btn-link" ng-click="cancel()"><localize key="general_cancel">Cancel</localize></a>
        <a href="" class="btn btn-primary" ng-click="trimLog()"><localize key="general_ok">OK</localize></a>

    </umb-pane>

</div>