<div ng-controller="AzureLogger.ViewLogController" class="view-log">

    <div class="umb-panel-header">

        <div class="actions">
            <!--<a class="btn" ng-click="updateLogItems()">Update</a>--><!-- TODO: only show if there are new items to get ng-show="newLogItems"-->
        </div>

        <div class="filters"><!-- filters -->
            <input type="text" ng-model="uiFilters.hostName" enter-key="handleFilters()" focus-out="handleFilters()" ng-disabled="currentlyFiltering" placeholder="Machine Name" class="filter-machine" />
            <input type="text" ng-model="uiFilters.loggerName" enter-key="handleFilters()" focus-out="handleFilters()" ng-disabled="currentlyFiltering" placeholder="Logger Name" class="filter-logger" />

            <!--http://jsfiddle.net/R4vK3/23/-->
            <select ng-model="uiFilters.minLevel"
                    ng-change="handleFilters()"
                    ng-disabled="currentlyFiltering"
                    class="filter-min-level">
                <option value="0">DEBUG</option>
                <option value="1">INFO</option>
                <option value="2">WARN</option>
                <option value="3">ERROR</option>
                <option value="4">FATAL</option>
            </select>

            <!--<input type="text" ng-model="uiFilters.message" ng-change="handleFilters()" ng-disabled="currentlyFiltering" placeholder="Message" class="filter-message" />-->
        </div>

        <!--<p>Start Date Time : <input type="text" /></p>-->
        <!--item-count: {{ logItems.length }}-->
        <!--detail-count: {{ detailCount }}-->
    </div>

    <div class="umb-panel-body umb-scrollable">
        <h1>{{ name }}</h1>
        <div class="umb-pane" lazy-load="getMoreLogItems()">

            <div class="level-{{logItem.level.toLowerCase()}}" ng-repeat="logItem in logItems">

                <div class="day-breaker" ng-if="differentDays(logItem, logItems[$index - 1])">
                    <h3>{{logItem.eventTimestamp| date : 'EEEE dd MMMM yyyy'}}</h3>
                </div>

                <div class="log-item-intro level-key" ng-click="toggleLogItemDetails($event, logItem)">

                    <div class="eventTimestamp">
                        <div class="hms">{{logItem.eventTimestamp| date : 'HH:mm:ss'}}</div>
                        <div class="ms">{{logItem.eventTimestamp| date : '.sss'}}</div>
                    </div>

                    <div>
                        <span class="host-name">{{logItem.hostName}}</span> -
                        <span class="logger-name">{{logItem.loggerName}}</span>
                    </div>
                    <p class="message">{{logItem.messageIntro}}</p>
                </div>

                <div class="log-item-details level-key">
                    <dl>
                        <dt>Event Timestamp</dt>
                        <dd>
                            <!--<a href="javascript:alert('reload log starting at this date - updates inline date filter at top of page')">-->
                            {{logItem.eventTimestamp| date : 'EEE dd MMM yyyy - HH:mm:ss.sss'}}
                            <!--</a>-->
                        </dd>

                        <dt>Log Timestamp</dt>
                        <dd>{{logItem.details.timestamp| date : 'EEE dd MMM yyyy - HH:mm:ss.sss'}}</dd>

                        <dt>Domain</dt>
                        <dd>{{logItem.details.domain}}</dd>

                        <dt>Identity</dt>
                        <dd>{{logItem.details.identity ? logItem.details.identity : 'Unknown'}}</dd>

                        <dt>Level</dt>
                        <dd>{{logItem.level}}</dd>

                        <dt>Logger Name</dt>
                        <dd>
                            <a ng-show="uiFilters.loggerName != logItem.loggerName" ng-click="uiFilters.loggerName = logItem.loggerName; handleFilters()">{{logItem.loggerName}}</a>
                            <span ng-show="uiFilters.loggerName == logItem.loggerName">{{logItem.loggerName}}</span>
                        </dd>

                        <dt>Message</dt>
                        <dd><pre>{{logItem.details.message}}</pre></dd>

                        <dt>Thread Name</dt>
                        <dd>{{logItem.details.threadName}}</dd>

                        <dt>User Name</dt>
                        <dd>{{logItem.details.userName}}</dd>

                        <dt>Location</dt>
                        <dd>{{logItem.details.location}}</dd>

                        <dt>ProcessId</dt>
                        <dd>{{logItem.details.processId}}</dd>

                        <dt>AppDomainId</dt>
                        <dd>{{logItem.details.appDomainId}}</dd>

                        <dt>Host Name</dt>
                        <dd>
                            <a ng-show="uiFilters.hostName != logItem.hostName" ng-click="uiFilters.hostName = logItem.hostName; handleFilters()">{{logItem.hostName}}</a>
                            <span ng-show="uiFilters.hostName == logItem.hostName">{{logItem.hostName}}</span>
                        </dd>

                        <dt>Url</dt>
                        <dd>
                            <a href="{{logItem.details.url}}" ng-show="logItem.details.url">{{logItem.details.url}}</a>
                            <span ng-show="!logItem.details.url">Unknown</span>
                        </dd>
                    </dl>
                </div><!-- /log-item-details-row -->

            </div><!-- /ng-repeat -->
            <!-- should never see this link, as the auto scrolling will push it further down the page out of sight -->
            <a class="info-banner" ng-show="!currentlyLoading && !finishedLoading" ng-click="getMoreLogItems()">Get More Log Items</a>

            <!-- angular can't handle 10,000s of this data, so reset start time filter (not saveable) -->
            <!--<a ng-show="logItems.length >= logItemLimit">Reset from this log entry event time</a>-->

            <div class="info-banner" ng-show="currentlyLoading">Loading</div>
            <div class="info-banner" ng-show="finishedLoading && logItems.length == 0">No Log Items</div>
            <div class="info-banner" ng-show="finishedLoading && logItems.length > 0">Finished Loading</div>

        </div><!-- /umb-panel-body -->
    </div>
</div>