.azure-logger-appender-not-connected:before {
    color:red;
}

.azure-logger-appender-read-only:before {
    color: lightgrey;
}

/*
    .class:after{
        content: '\2022'
    }

    "\e25d" warning
    "\e116" pause
    "\e0a7" lock
    "\e0a9" record
*/
